body {
    background-color: bisque;
}
fieldset{
    background-color: darksalmon;
}
legend{
    font-style: italic;
    background-color: cadetblue;
    font-size: larger;
    text-size-adjust: initial;
    text-decoration-color: darkslateblue;
}
label{
    text-decoration-color: black;
}
input{
    text-align: left;
    text-decoration-color: black;
    background-color: bisque;
}
option,select{
    background-color: bisque;
}